.bio-container {
    display: flex;
    justify-content: center;
    }
    
    #bioPage {
        background-color: #E8EDDF;
        border: 2px solid black;
        border-radius: 5px;
        margin: 10px 0;
        text-align: justify;
        width: 75%;
    }
    
    #bioPage p {
        margin: 10px 5px;
    }