.bio-container {
    display: flex;
    justify-content: center;
    }
    
    .bio-page {
        background-color: #E8EDDF;
        border: 2px solid black;
        border-radius: 5px;
        margin: 10px 0;
        text-align: justify;
        width: 75%;
        font-family: 'Brawler', serif;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .bio-page p {
        margin: 10px 5px;
    }

    .bio-page img {
        width: 150px;
        margin: 10px;
        float: right;
        clear: left;
    }