.page-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F5CB5C;
    border: 2px solid #242423;
    border-radius: 5px;
}

.page-footer img {
    width: 40px;
}