nav {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background-color: #F5CB5C;
    border: 5px solid #242423;
}
#navLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

li {
    margin: 0 10px;
}

#navLinks li:hover {
    background-color: #E8EDDF
}