.technologies-page {
    width: 50%;
    margin: auto;
}

.technologies-page img {
    width: 70px;
}
.listContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.technologies-page li {
    margin: 10px 5px;
}